name: Auto Label PR

on:
  pull_request:
    types: [opened]

permissions: 
  pull-requests: write
    
jobs:
  add-label:
    runs-on: ubuntu-latest
    steps:
      - name: Add 'security label' to PR
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: Waiting for Security Review Completion
      - name: Comment on PR 
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |

            const marker = '<!-- security-label-comment -->';

            const body = `
            ${marker}
            Please add a security label according to this [documentation](https://docs.zoom.us/doc/yY7m53UIRQurGassj_9ugQ):
            - A: No Security Impact
            - B: Developer Security Review - light touch
            - C: Security Team to Review`;

            const requiredLabels = [
              "A: No Security Impact",
              "B: Developer Security Review - light touch",
              "C: Security Team to Review"
            ];
          
            const labels = context.payload.pull_request.labels.map(label => label.name);

            const hasRequiredLabel = requiredLabels.some(label =>labels.includes(label));

            // Fetch all comments on the PR
            const { data: comments } = await github.rest.issues.listComments({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
            });


            const exists = comments.some(c => c.body.includes(marker));

            if (!exists && !hasRequiredLabel) {
              await github.rest.issues.createComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                body: body
              });
            } 
